.content {
  padding: 120px 60px 0;
  overflow: hidden;
  height: calc(100vh - 120px);
  background: url('../../../assets/img/repeat.png') repeat;

  .row {
    height: calc(100% - 140px);

    .col {
      position: relative;
      height: 100%;
    }
  }

  .bottom {
    height: 100px;
  }
}

@media (max-width:992px) {
  .content {
    padding: 80px 20px 0;
    height: calc(100vh - 80px);
    .row {
  
      .col {
        height: 50%;
      }
    }
  }
}